---
import Icon from './Icon.astro';
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Web Development</h2>
    <p>React, Express.js, Django, FastAPI – building responsive and scalable web applications.</p>
  </div>

  <div class="stack gap-2 lg:gap-4">
    <Icon icon="mobile" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Mobile Development</h2>
    <p>React Native, Android (Kotlin) – creating intuitive mobile apps for Android and cross-platform.</p>
  </div>

  <div class="stack gap-2 lg:gap-4">
    <Icon icon="database" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Backend & Databases</h2>
    <p>PostgreSQL, MySQL, Oracle – designing robust backend systems and databases.</p>
  </div>

  <div class="stack gap-2 lg:gap-4">
    <Icon icon="cog" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Other</h2>
    <p>Python, API design, REST APIs – additional technologies and AI integration.</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Passe à 2 colonnes si tu veux 4 compétences */
      gap: 3rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
